body {
    background-image: url("../images/leaves.png");
    font-family: 'Chango', cursive;
}

.alert {
    text-align: center;
}

#button-holder {
    text-align: center;
}

button {
    margin: 5px;
}